<% if (locals.errors) {%>
     <ul>
       <% locals.errors.forEach(function(error) { %>
          <% const message = error.msg || error %>
         <li><%= message %></li>
       <% }); %>
     </ul>
<% } %>
