<ul>
     <% locals.posts?.forEach(post => { %>
          <li>
               <span><%= post.title %></span> <br>
               <span>By <%= post.user_name || "???" %></span> <br>
               <span>Posted on <%= (post.timestamp) ? new Date(post.timestamp) : "???" %></span> <br>
               <span><%= post.text %></span> <br>
          </li>
     <% }) %>
</ul>
