<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Unauthorized</title>
     <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
     <%- include("partials/nav"); %>

     <span>lol 401 unauthorized</span>
     <span><%- locals.message %></span>
</body>
</html>
