<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Log In</title>
     <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
     <%- include("partials/nav"); %>

     <span>hello friend and friends</span>
     <a href="/posts">check posts</a>
</body>

</html>
