<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Profile of user yes</title>
     <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
     <%- include("partials/nav"); %>

     <form action="/become-member" method="POST">
          <label for="becomemember">Press this button to become a member!</label>
          <button id="becomemember" type="submit" style="padding: 0em;">Press me</button>
     </form>
</body>

</html>
