<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Member posts</title>
     <link rel="stylesheet" href="styles/style.css">
</head>
<body>
     <%- include("partials/nav"); %>

     <% if(!locals.posts || locals.posts?.length === 0) { %>
          <span>No posts found!</span>
          <!-- TODO: create one? if membeer -->
     <% } else { %>
          <ul>
               <% locals.posts?.forEach(post => { %>
                    <li>
                         <span><%= post.title %></span> <br>
                         <span>By <%= post.user_name %></span> <br>
                         <span><%= post.text %></span> <br>
                    </li>
               <% }) %>
          </ul>
     <% } %>
</body>
</html>
