<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Profile of user yes</title>
     <link rel="stylesheet" href="/styles/reset.css">
     <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
     <%- include("partials/nav"); %>

     <main>
          <div class="post">
            <h3><%= locals.user.display_name %></h3>
            <% if(locals.user.member) { %>
                 <p>Member</p>
            <% } %>
          </div> 
          <h3>Posts by <%= locals.user.display_name %></h3>
          <%- include("partials/postList") %>
      </main>
</body>

</html>
